<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
  routerLink="/detail/{{hero.id}}">

    <a><span class="badge">{{hero.id}}</span> {{hero.name}}</a>
    <button class="delete" title="delete hero" (click)="deleteHero(hero)">&times;</button>
  </li>
</ul>

<div>
  <form #formAddHero="ngForm" (ngSubmit)="submit_addHero()">
    <div class="form-group">
      <label for="hero-name">Hero name: </label>
      <input required class="form-control" [(ngModel)]="hero.name" name="hero-name" id="hero-name">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formAddHero.invalid">Add</button>

  </form>
</div>



<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->